<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>IOTB.controller.ConnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>IOTB.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAccount</servlet-name>
        <servlet-class>IOTB.controller.editAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomer</servlet-name>
        <servlet-class>IOTB.controller.editCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCustomerValidate</servlet-name>
        <servlet-class>IOTB.controller.editCustomerValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>IOTB.controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessLogController</servlet-name>
        <servlet-class>IOTB.controller.AccessLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCustomerController</servlet-name>
        <servlet-class>IOTB.controller.RegisterCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffController</servlet-name>
        <servlet-class>IOTB.controller.RegisterStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unRegisterController</servlet-name>
        <servlet-class>IOTB.controller.unRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>IOTB.controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>IOTB.controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAccount</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomer</servlet-name>
        <url-pattern>/editCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCustomerValidate</servlet-name>
        <url-pattern>/editCustomerValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/DeleteCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessLogController</servlet-name>
        <url-pattern>/AccessLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCustomerController</servlet-name>
        <url-pattern>/RegisterCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffController</servlet-name>
        <url-pattern>/RegisterStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unRegisterController</servlet-name>
        <url-pattern>/unRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
