body {
    background-color: #cccccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ↓↓↓ Top Navigation Bar ↓↓↓ */
.topnav {
    background-color: orangered;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 25px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover{
    background-color: #cccccc;
    color: orangered;
}

.topnav a.active{
    background-color: #cccccc;
    color: orangered;
}

/* ↑↑↑ Top Navigation Bar ↑↑↑ */

.contentcontainer{
    width: 90%;
    height: auto;
    border: 1px solid black;
    position: static;
    background-color: #E8E8E8;
    margin-left: auto;          /* these two combined  */
    margin-right: auto;         /* center the container*/
    margin-top: 25px; /* this sets the distance between the container and the top nav bar*/
    margin-bottom: 25px; /* this sets the distance between the bottom of the container and the bottom of the window*/
    padding-top: 10px; /* this sets the distance between the text and the top of the main container*/
    padding-bottom: 10px; /* this sets the distance between the text and the bottom of the main container*/
    padding-left: 10px;  /*this sets the distance between the text and the left of the main container*/
    padding-right: 10px;  /* this sets the distance between the text and the right of the main container*/
}
.topbanner{
    width: 100%;
    height: 100px;
    position: static;
    background-image: url(media/IotBaybanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}



/* ↓↓↓ Text formatting classess and ID's ↓↓↓ */


h1 {
     font-size: 35px;
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     text-align: left;
}

h2 {
     font-size: 33px;
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     text-align: left;
}

h3 {
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     text-align: left;
     text-decoration: none;
     font-weight: 700;
}

h4 {
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     text-align: left;
     font-weight: 700;
}

p{
     font-size: 18px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
     font-weight: normal;
}
#underline{
    text-decoration: underline;
}

#underlineandcenter{
    text-decoration: underline;
    text-align: center;
}
#CenterForm{
    text-decoration: underline;
    text-align: center;
}
#customerSearch{
    width: 400px;
}


#bold{
    font-weight: 600;
}

#underlineandbold{
    text-decoration: underline;
    font-weight: 700;
}

#italic{
    font-style: italic;
}

#center{
    text-align: center;
}

ul{
    list-style-type: circle;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
    font-weight: normal;
}

table {
    border: 1px solid black;
    background: white;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tr:hover {background-color: coral;}

#contentcontainerimage{
    width: 70%;
    max-width: 900px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto; 
}

#accessTabs{
    text-align: right; 
    margin-right: 15%; 
    padding: 2%;
}


input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


input[type=submit]{
    padding: 5px;
    margin: 5px 0;
}
/* ↑↑↑ formatting classess and ID's ↑↑↑ */